const config = {
    basicAuth: {
        users: { 'myuser': 'mypassword' }
    },
    aws: {
        accessKeyId: 'key1',
        secretAccessKey: 'secret1',
        region: 'eu-central-1',
        bucketName: 'haxball-replays'
    },
    summaryUrl: 'http://localhost/games/'
}

module.exports = config;
