const config = {
    basicAuth: {
        users: { 'myuser': 'mypassword' }
    },
    privatekey: '/privkey.pem',
    certificate: '/fullchain.pem',
    baseUrl: 'https://my-secure-domain/'
}

module.exports = config;
