@import 'tailwindcss';

@theme {
    --color-hax-red: #c13535;
    --color-hax-black: #1A2125;
    --color-hax-black-trans: rgba(14,17,20,0.5);
    --color-hax-team-red: #E56E56;
    --color-hax-team-blue: #5689E5;
    --color-hax-button-blue: #244967;
    --color-hax-button-blue-light: #2d5c82;
    --color-hax-button-blue-lighter: #376f9d;
    --color-blue-600: #c13535;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    background: #e5e5f7 repeating-linear-gradient(-45deg, #76855a, #76855a 45px, #7b8a5f 45px, #7b8a5f 90px);
}
